<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
      <title>BileMo API</title>

      {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
      {% endblock %}
  </head>
  <body>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4"> </div>
          <div class="col-md-4 truc">
              <img class="logo" src="{{ asset("images/tel-ico-big.png") }}" alt="" style="width:30%">
              <h1>bilemo api</h1>
              {% block body %}{% endblock %}
              <footer>
                  <a target="_blank" href="/doc">documentation</a>
              </footer>
            </div>
            <div class="col-md-4"> </div>
        </div>
      </div>
    </body>
</html>
